body {
    /* background-image: url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=355&q=80'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
}

body {
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 50px auto;
}

/* Zebra striping */

/* tr:nth-of-type(odd) { 
	background: #eee; 
	} */

th {
    background: #3498db;
    color: white;
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 100%;
    }
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr {
        border: 1px solid #ccc;
    }
    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);
        color: #000;
        font-weight: bold;
    }
}

a {
    text-decoration: moccasin;
}

a:hover {
    color: green;
}

.user {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: -40px;
    margin-right: 780px;
    text-decoration: underline;
}